customtkinter
numpy==1.26.4
nvidia-ml-py==13.580.82
phonemizer==3.3.0
pillow==11.3.0
pydub==0.25.1
scipy==1.16.2
tokenizers==0.21.4
torch
torchaudio
torchcodec
transformers==4.49.0
pygame
google-cloud-texttospeech
elevenlabs
pyinstaller
Flask
requests
gradio
nnAudio
munch
coqui-tts
coqpit-config